.header {
    padding: 60px;
    height: 800px;
    text-align: center;
    background-image: url("images/3.jpg");
    
}

.header > h1 {
    padding-top: 200px;
    color: #d4d4dc;
    font-size: 60px;
    font-family:"Sofia", sans-serif;
}
.header > a {
    padding-top: 300px;
    color: #d4d4dc;
    font-size: 30px;
    font-family:"Sofia", sans-serif;
}
body {
    background: wheat;
}

a {
    color: #d4d4dc;
    font-family:"Sofia", sans-serif;
    text-decoration: none;
}

a:hover {
    color: #bfbff1;
    font-family:"Sofia", sans-serif;
    text-decoration: none;
}


.box a{
    color: #000000;
    font-size: 30px;
    font-family:"Sofia", sans-serif;
    text-decoration: none;
}


.boxes {
    padding-top: 20px;
    padding-left: 500px;
}

.box {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
 
}

div.text_of_img {
    text-align: center;
    padding: 10px 20px;
}

div.text_of_img a{
    font-size: 20px;
}

div.text_of_img a:hover{
    color:burlywood;
}

footer {
    padding-top:15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: black;
    color: #bfbff1;
    font-size: 15px;
    font-family:"Sofia", sans-serif;
}

h1 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-family:"Sofia", sans-serif;
}

.formstyle {
    font-family:"Sofia", sans-serif;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
}

.formstyle h1{
    background: #4D4D4D;
    font-family:"Sofia", sans-serif;
    font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;

}

.formstyle textarea {
    resize: none;
    overflow: hidden;
}

.formstyle input{
    box-sizing: border-box;
	outline: none;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	height: 45px;
}


.formstyle input[type="submit"]{
	background-color:#4D4D4D;
	border: 1px solid #000000;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: "Sofia", sans-serif;
	font-size: 20px;
	padding: 8px 18px;
	text-decoration: none;
}

.restaurant {
    border: solid;
    padding: 10px;
    width: 300px;
    margin: 5px;
    color: #FFFFFF;
	font-family: "Sofia", sans-serif;
	font-size: 20px;
    display: inline-block;
    background-color: rgb(177, 128, 95);
    text-align: center;
   

}

h2 {
    width: 300px;
    margin: 5px;
    color:black;
	font-family: "Sofia", sans-serif;
   
}

h3 {
    margin: 5px;
    color:black;
	font-family: "Sofia", sans-serif;
    display: inline;
}

.restaurants {
    background-color:rgb(163, 108, 71);
}

.restaurant:hover {
    background-color:rgb(167, 136, 116);
}

.success {
  color:black;
	font-family: "Sofia", sans-serif;
  font-size: 30px;
}

.images {
  display: inline-block;
  border-style: double;
}

.loginform {
    font-family:"Sofia", sans-serif;
    font-size: 20px;
    padding-left: 900px;
  
}

.deleteButton {
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Courier New', monospace;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  background-color: transparent;
  cursor: pointer;
}

.deleteButton:hover{
  color:black;
  border-color:black;
}

.deleteButton:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
}

@media all and (max-width:30em){
   .deleteButton {
  display:block;
  margin:0.4em auto;
  }
}

#loginForm {
 display: none;
}
.loginform input {
    background: transparent;
}


* {
    box-sizing: border-box;
  }
  
body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-family:"Bradley Hand", sans-serif;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {

  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  font-family: 'Courier New', monospace;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  text-decoration: underline;
  opacity: 50%;
}

.nav > #nav-check {
  display: none;
}

.loginbox{
    background-color: gray;
    margin:50px 300px 0px 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
}

.loginbox p {
    text-align: center;
    text-decoration: none;
    font-family: 'Courier New', monospace;
    color: #efefef;
}

.loginbody {
    background-image: url("images/3.jpg");
}

#loginForm {
  margin-left: 550px;
}


.button {
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Courier New', monospace;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.15s;
  background-color: transparent;
  cursor: pointer;
}

.button:hover{
  color:black;
  border-color:black;
}

.button:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
}

.topnav {
  display: inline-block;
  margin-left: 10px;
}

.topnav input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 1280px;
  font-size: 17px;
}

.topnav input[type=time] {
  margin-top: 20px;
  padding: 4px;
  border: none;
  margin-top: 10px;
  margin-right: 16px;
  margin-left: 16px;
  font-size: 17px;
}

.topnav label {
    color: black;
    font-size: 15px;
    font-family:"Sofia", sans-serif;
}

.images {
  position: relative;
  width: 20%;
}

.images img {
  width: 100%;
  height: auto;
}


.images .imageBtn {
  position: absolute;
  width: 30%;
  top: 90%;
  left: 88%;
  transform: translate(-50%, -50%);
  background-color:transparent;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: 30%;
}

.images .imageBtn:hover {
  opacity: 100%;
}

.profileInformation {
  background-color: brown;
  opacity: 70%;
  margin-left: 500px;
  margin-right: 500px;
  border-radius: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  border-style: dotted;
  border-width: 8px;
  border-color: white;
  
}

.profileInformation:hover{
  opacity: 100%;
}

.profileInformation p {
  font-family: 'Courier New', monospace;
  color: #efefef;
  text-align: center;

}

.profileBody {
  background-image: url('images/2.jpg');
  background-size: 50%;
}

.manageRes {
  border-style: double;
  border-width: 2px;
  border-color: white;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.manageRes button{
 margin-left: 55px;
 margin-bottom: 10px;
}

.manageRes #btn1:hover{
  background-color: green;
 }

 
.manageRes #btn2:hover{
  background-color: red;
 }

.manageRes h3 {
  margin-left: 180px;
  font-size:30px;
}

.profileInformation a {
  font-family: 'Courier New', monospace;
  color: #efefef;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 13px;
}

.profileInformation a:hover {
  text-decoration: underline;
}

.profileInformation #upd{
  margin-left: 190px;
}

#profileupdate {
  display: none;
}

#restaurantupdate {
  display: none;
}

#errInformations {
  display: none;
}

#errInformations p{
  color: rgb(74, 111, 136);
}