<div class="nav">
    <div class="nav-header">
      <div class="nav-title">
        Menu
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <a href="#Top">Home</a>
      <a href="#Rest">Restaurants</a>
      <a href="/reservation">Reservations</a>
      <%if (typeof tokenObject != 'undefined') {%>
        <a href='/userprofile'><%=tokenObject.name%></a>
        <button class="button" onclick="logout()"> Log Out </button>
        <%}else{%>
            <a href="/login"><img src="images/usericon.png" width="25px"></a>
            <%}%>
    </div> 
</div>