<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Add_Restaurant</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link href="styles.css" rel="stylesheet" type="text/css">
    </head>


    <body>

        <%- include('partials/submenu.ejs') %>

        <p class="success"><%=message %><p></p>
        <div class="formstyle">
          <h1>Add Restaurant</h1>
          <form method="POST" action="/addrest">
              <label>Restaurant Name</label>
              <input type="text" name="restaurant_name" required="" pattern="^[A-Z][a-z]+$"> <br>
              <label>City</label>
              <input type="text" name="city" required="" placeholder="Kolozsvar" pattern="^[A-Z][a-z]+( [A-Z][a-z]+)?$">  <br>       
              <label>Street</label>
              <input type="text" name="street" required="" placeholder="Dorobantilor" pattern="^[A-Z][a-z]+( [A-Z][a-z]+)?$" /> <br>
              <label>Number</label>
              <input type="number" name="number" required="" placeholder="15" /> <br>
              <label>Telephone number</label>
              <input type="tel" name="telnumber" placeholder="0775432181" required=""> <br>
              <label>Opening time</label>
              <input type="time" name="openTime" required="" > <br>
              <label>Closing time</label>
              <input type="time" name="closeTime" required=""> <br>
              <input type="submit" name="submit"> 
            </form>   
        </div>

         <script src="script.js"></script>
    </body>
       

</html>