<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Reservations</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <a id=Top></a>

    <div class="header">
        <h1>Find your table for any occasion</h1>    
        <a href="reservation">Book for lunch today</a>   
    </div>

    <div class="boxes">
        <div class="box">
            <img src="images/restaurant_add.jpg" style="width:100%" alt='restaurant_add'>
            <div class="text_of_img">
                <a href="addrestaurant"> ADD NEW RESTAURANT </a> 
            </div>
        </div> 
        <div class="box">
            <img src="images/reservationsimg.jpg" style="width:100%" alt='reservation_add'>
            <div class="text_of_img">
                <a href="reservation"> ADD RESERVATION </a> 
            </div>
        </div>
    </div>

    <a id=Rest></a>
    <div class="topnav">
        <h2>Available Restaurants</h2>
        <label>Open before:</label>
        <input type="time" id='opentime'>
        <label>Close after:</label>
        <input type="time" id='closetime'>
        <button type="submit" class='button' onclick="filterByTime()">Filter</button>
        <button type="submit" class='button' onclick="undoByTime()">Undo</button>
        <input type="text" placeholder="Search.." id='searchbar' onkeyup="searchRestaurants()">
    </div>


    <h1>Are you a restaurant owner? <a href="/login?owner=1">JOIN US</a></h1>
    <div class="boxes">
        <div class="box">
            <img src="images/restowner.jpeg" style="width:100%" alt='rest_owner'>
            <div class="text_of_img">
                <a href='https://upserve.com/restaurant-insider/6-steps-become-successful-restaurant-owner/'> LEARN MORE </a> 
            </div>
        </div>
    </div>
    
    <script src="script.js"></script>
</body>


</html>