<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Add_Reservations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link href="styles.css" rel="stylesheet" type="text/css">
    </head>


    <body class="loginbody">
        <%- include('partials/submenu.ejs') %>
        <p class="success"><%=message %><p></p>
        <div class="loginbox">
            <p>Already have an account? <button class="button" onclick="switchToLogin()">Login</button></p>
        </div>

        <div class='formstyle' id='loginForm'> 
            <h1>Log in:</h1>
            <form method="POST" action="/loginu">
                <label>Username: </label>
                <input type="text" name="username"> <br>
                <label>Password: </label>
                <input type="password" name="password"> <br>
                <input type="submit" value="Submit"> <br>
            </form>
        </div>

        <div class='formstyle' id='registerForm' > 
            <h1>Register:</h1>
            <form method="POST" action="/register?owner=<%= owner %>">
                <label>Username: </label>
                <input type="text" name="username"> <br>
                <label>Password: </label>
                <input type="password" name="password"> <br>
                <label>Password again: </label>
                <input type="password" name="passwordagain"> <br>
                <label>Firstname: </label>
                <input type="text" name="firstname" pattern="^[A-Z][a-z]+$"> <br>
                <label>Lastname: </label>
                <input type="text" name="lastname" pattern="^[A-Z][a-z]+$"> <br>
                <label>E-mail: </label>
                <input type="email" name="email"> <br>
                <label>Phone: </label>
                <input type="tel" name="phone"> <br>
                <input type="submit" value="Submit"> <br>
            </form>
        </div>


        <script src="script.js"></script>

    </body>

</html>