<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Add_Reservations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link href="styles.css" rel="stylesheet" type="text/css">
    </head>


    <body>
        <%- include('partials/submenu.ejs') %>
        
        <p class="success"><%=success %><p></p>
        <div class="formstyle">
            <h1>Create Reservation</h1>
            <form method="POST" action="/createreservation">
                <label>RestaurantID</label>
                <select name="restaurantID">
                    <% restaurants.forEach((restaurant)=>{ %>
                        <option><%= restaurant.ID %></option>
                    <% }) %>
                </select><br>
                <label>Date of reservation</label>
                <input type="date" name="date" required="">
                <label>Hour of reservation</label>
                <input type="time" name="reservationTime" required="">
                <input type="submit" value="Let's go" name="submit">
               
            </form>
            <a href="/"> Back To Home </a> 
        </div>

        <h2>Available Reservations</h2>
        <div class="restaurants">
                <% reservations.forEach((reservation) => { %>
                    <div class="restaurant" id="<%= reservation.ReservationID %>">
                        <h3><%= reservation.ReservationID %></h3>
                        <p>RestaurantID: <%=reservation.RestaurantID %></p>
                        <p>Date: <%= reservation.Date %></p>
                        <p>Hour: <%= reservation.Hour %></p> 
                        <%if (tokenObject.role === 'admin' || nameID == reservation.CostumerID) {%> 
                        <button class="deleteButton" >Delete</button> 
                        <%}%>              
                    </div>
                <% }) %> 
        </div>

        <script src="script.js"></script>
    </body>


</html>