<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>uploadimg</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link href="styles.css" rel="stylesheet" type="text/css">
    </head>


    <body>

        <%- include('partials/submenu.ejs') %>

        <p class="success"><%=message %><p></p>
        <div  class="restaurant" id='<%=restaurant.ID%>' >
            <h3><%= restaurant.Name %></h3>
            <p>RestaurantID: <%=restaurant.ID %></p>
            <p>Location: <%= restaurant.Location %></p>
            <p>Opent at: <%= restaurant.Open %></p>
            <p>Close at: <%= restaurant.Close %></p>
            <p id='street'></p>
            <p id='tel'></p>
        </div>
      

        <% restaurantImages.forEach((image) => { %>
            <div  class="images" id="<%= image.ImageID %>">
                <img src='<%=image.ImageName%>'>  
                <%if (typeof tokenObject != 'undefined' && tokenObject.role == 'owner' && ownerID == restaurant.Owner ) {%>
                        <button class='imageBtn'><img src="images/deleteicon.png"></button> 
                    <%}%>               
            </div>
        <% }) %> 

        <%if (typeof tokenObject != 'undefined' && tokenObject.role == 'owner' && ownerID == restaurant.Owner ) {%>
        <div class="formstyle">
            <h1>Upload Image</h1>
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <input type="file" name="fileToUpload" accept="image/*">
                <input type="hidden" value='<%=restaurant.ID %>' name='restaurantID'>
                    <input type="submit" value="Submit" name="submit">
            </form>
            <a href="/"> Back To Home </a> 
        </div>  
        <% } %>

        <script src="script.js"></script>
    </body>


</html>