<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Reservations</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>

<body class='profileBody'>
    <a id=Top></a>
  
    <%- include('partials/submenu.ejs') %>
    
    <div class='profileInformation' id='pInf'>
        <h1>Profile information</h1>
        <p>Firstname:</p>
        <p><%=costumer.Firstname %></p>
        <p>Lastname:</p>
        <p><%=costumer.Lastname %></p>
        <p>Username:</p>
        <p><%=costumer.Username %></p>
        <p>Email: </p>
        <p><%=costumer.Email %></p>
        <p>Phone: </p>
        <p> <%=costumer.Phone %></p>
        <p>Role:</p>
        <p><%=costumer.Role %></p>

        <button class='button' id=upd onclick="updateUserInfo()">Update</button>
        <div class='formstyle' id=profileupdate> 
            <h1>Update:</h1>
            <form id='profileForm'>
                <label>Firstname: </label>
                <input type="text" name="firstname"> <br>
                <label>Lastname: </label>
                <input type="text" name="lastname"> <br>
                <label>E-mail: </label>
                <input type="email" name="email"> <br>
                <label>Phone: </label>
                <input type="tel" name="phone"> <br>
                <input type="submit" value="Submit"> <br>
            </form>
            <div id="errInformations">
                <h3>(401) Could not update because you gave invalid data</h3>
                <p>The name should contain only letters<p>
                <p>The email should be a valid gmail/yahoo mail<p>
                <p>Phone number should contain 10 digits</p>
            </div>
        </div>
        
    </div>

    <%if (typeof tokenObject != 'undefined' && tokenObject.role == 'owner') {%>
    <div class='profileInformation'>
        <h1>My restaurants</h1>
        <% costumerRestaurants.forEach((restaurant)=>{ %>
            <a href='restaurant?id=<%= restaurant.ID %>'> 
                <%=restaurant.Name%>    ( Location: <%= restaurant.Location %>, Street: <%= restaurant.Street%>, Number: <%=restaurant.Number%> )  
            </a>
        <% }) %>
    </div>
    <%}%>

    <div class='profileInformation'>
        <h1>My reservations</h1>
        <% costumerReservations.forEach((reservation)=>{ %>
               
                <% if(reservation.State == 0) { %>
                    <p><%=reservation.Name%>    ( Date: <%= reservation.Date %>, Hour: <%= reservation.Hour%> ) <img src="images/pandingicon.png" width=30 alt='_pendig'> </p>
                <% } else if (reservation.State==1) { %>
                    <p><%=reservation.Name%>    ( Date: <%= reservation.Date %>, Hour: <%= reservation.Hour%> ) <img src="images/checkicon.png" width=30 alt='_accepted'> </p>
                <% } else { %>
                    <p><%=reservation.Name%>    ( Date: <%= reservation.Date %>, Hour: <%= reservation.Hour%> ) <img src="images/deleteicon.png" width=30 alt='_declined'> </p>
                <%}%>
        <% }) %>

    </div>


    <%if (typeof tokenObject != 'undefined' && tokenObject.role == 'owner') {%>
        <div class="profileInformation"> 
        <h1>Manage reservations</h1>
        <% ownersReservationPandig.forEach((reservation)=>{ %>
            <div id="<%= reservation.ReservationID %>" class='manageRes'>
                <h3><%=reservation.Name%></h3>
                <p>Name: <%=reservation.Firstname%> <%=reservation.Lastname%></p>
                <p>Date: <%=reservation.Date%> <%=reservation.Hour%></p>
                <p>Tel: <%=reservation.Phone%></p>
                <button class='button' id='btn1' onclick="insertAcceptedReservation(this)">Accept</button>
                <button class='button' id='btn2' onclick="insertDeclineReservation(this)">Reject</button> <br>
            </div>
        <% }) %>
        </div>
    <%}%>

    <%- include('partials/footer.ejs') %>

    <script src="script.js"></script>
</body>

</html>